@page "/"
@using ViewEntity
@using Models
@inject HttpClient Http
@inject IEntityResourceManager entityResourceManager

<CascadingValue Value=DrawOps>

    <MapView OnMachineClick=OnMachineClick/>

</CascadingValue>



<button @onclick="OnClick" style="position:absolute; top:50px; left:200px;">click me to update!</button>

@code
{

    [CascadingParameter]
    public Task<IEnumerable<DrawOperation>> DrawOps { get; set; }

    protected Entity baseEntity;


    void OnMachineClick(string id)
    {
        Console.WriteLine("hello from index "+id);
    }


    protected async override Task OnInitializedAsync()
    {
        //EntityResourceManager entityResourceManager = new EntityResourceManager(Http);
        //entityResourceManager.Load();



        baseEntity = new Entity(entityResourceManager, "factory_walls", 45,100,0);






        Entity child = new Entity(entityResourceManager, "factory_walls2", 0,100,100);

        baseEntity.AddChild(child);


        DrawOps = baseEntity.GetDrawOperations();

        base.OnInitialized();
    }


    protected async override Task OnParametersSetAsync()
    {
        //baseEntity.AddChild(await ServerLoader.Load(Http, entityResourceManager));

        //await entityResourceManager.Load("factory_walls");

        //baseEntity.LoadResources(entityResourceManager);



        base.OnParametersSet();
    }

    private void OnClick()
    {
        DrawOps = baseEntity.GetDrawOperations();

        Console.WriteLine("hello from click");
        StateHasChanged();
    }

}