@inherits LayoutComponentBase

<div style="background-color: cyan; width: 100vw; height: 100vh; overflow:hidden;">  

    <div style="background-color: cyan; width: 100vw; height: 100vh; overflow:hidden;">        

        <div style="background-color: cyan; width: 100vw; height: 100vh; overflow:hidden;">
            @Body
        </div>
    </div>
</div>
